.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px rgba(0,0,0,0.5);
    background: linear-gradient(135deg, #9e3d3d 0%,#752424 100%), url($debutDark);
    background-blend-mode: difference;
}

.menu__list {
    list-style: none;
    margin: 0 auto;
    padding: 0 20px;
    max-width: $maxWidth;
}

.menu__title {
    font-size: 18px;
    padding-left: 0;
    color: #fff;
    display: inline-block;
}

.menu__item {
    display: inline-block;
    height: 50px;
    padding: 15px;
    line-height: 20px;
    a {
        color: hsl(0, 60%, 72%);
        &:hover {
            color: #fff;
        }
    }
}

